#tent-hero {
    width: 100%;
}

#title-filters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #373737;
    margin: 15px 0;
}
